{% extends 'navbar.html' %}

{% block content %}
<div class="book-detail-container">
    <h2>{{ book.title }}</h2>
    <p class="authors">Authors: {% for author in book.authors.all %}{{ author.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    <p class="publisher">Publisher: {{ book.publisher.name }}</p>
    <p class="publication-date">Publication Date: {{ book.publication_date }}</p>

    <h3 class="comments-heading">Comments:</h3>
    <ul class="comment-list">
        {% for comment in comments %}
        <li class="comment">
            <p class="comment-text"><strong>{{ comment.user.username }}</strong>: {{ comment.comment }}</p>
            <p class="comment-rating">Rating: {{ comment.rating }}</p>
        </li>
        {% endfor %}
    </ul>

    <h3 class="add-comment-heading">Add a Comment:</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.comment }}
        {{ form.rating }}
        <button type="submit" class="submit-comment-button">Submit</button>
    </form>
</div>
{% endblock %}
